form { background-color: #EAEAEA;
    font-family: Arial, sans-serif;
    width: 800px; padding: 10px; }

    label { float: left; clear: left; display: block;
        width: 100px; padding-right: 10px;
        margin-top: 10px; text-align: right; }

 input { display: block; margin-top: 20px; }

 textarea { display: block; margin-top: 10px; }

 input[type="submit"] { margin-left: 110px; }

 header, footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}


